<div *ngIf="movies.length>0; else no_movies">
    <h2>{{title}}</h2>


    <div class="alert alert-success" *ngIf="movies.length>0">
        {{movies.length}} Film Listelendi..
    </div>

    <div class="mb-3">
        <input type="text" class="form-control" [(ngModel)]="searchMovie" placeholder="Search...">
        <small class="text-muted" *ngIf="searchMovie">Aradığınız Kelime : {{searchMovie}}</small>
    </div>

    <ng-template [ngTemplateOutlet]="movieList1"></ng-template>

</div>




<ng-template #no_movies>
    <div class="alert alert-warning"> Film bulunamadı!</div>

</ng-template>

<ng-template #movieList1>
    <!-- Birinci parametre olarak movies alınır, 2. parametre olarak searchMovie alınır. bunlar movieFilter Pipe ına göderilir -->
    <div class="card mb-3" *ngFor="let item of movies | movieFilter: searchMovie ">

        <div class="row">
            <div class="col-md-3">
                <img src="assets/img/{{item.imgUrl}}" class="img-fluid rounded-start" alt="">
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <h2 class="card-title">{{item.title | lowercase }} </h2>
                    <p class="card-text">{{item.description | summary : 150 }} </p>
                    <p class="card-text">{{item.datePublished | date:'short'}} </p>
                    <button class="btn btn-sm btn-outline-primary">Details</button>

                </div>
            </div>
        </div>
    </div>
</ng-template>